<!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Omar^2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home 123 </a>
          <body>
           <div style="padding-top: 20px;">
            Welcome everyone to Omar^2's Homepage. <br>
            This is something like my virtual presence. <br> <br>
            I am really happy to know that you dropped by my webpage to know more about me.
            You can <a href="about">click here</a> to know more about me.
            <br><br><br>
            A computer science student passionate about programming and design. <br>
            I am interested in working for a company that would make utilization of my potential. <br>
            I am open to work from any location.
          
           </div>
          </body>
        </li>

        <% if (title == "About") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
        </li>

        <% if (title == "Products") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/products"><i class="fab fa-elementor"></i> Products </a>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/services"><i class="fas fa-cogs"></i> Services </a>
        </li>

        <% if (title == "Contact") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact </a>
        </li>
    </div>
  </nav>