<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div style="padding-top: 20px;">
      Welcome everyone to my Personal Homepage. <br>
      This is something like my virtual presence. <br> <br>
      I am really happy to know that you dropped by my webpage to know more about me.
      You can <a href="about.html">click here</a> to know more about me.
      <br><br><br>
      <strong>Mission</strong> <br>
      A computer science student passionate about programming and design. <br>
      I am interested in working for a company that would make utilization of my potential. <br>
      I am open to work from any location.
     
      
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




